.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1.3fr 2.4fr 0.2fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". . . . . . . . ."
  ". deck_0 deck_1 deck_2 deck_3 deck_4 deck_5 deck_6 ."
  ". . . . . . . . ."
  ". . . hand_draw hand_discard . . . .";
}

.deck_0 { grid-area: deck_0; }

.deck_1 { grid-area: deck_1; }

.deck_2 { grid-area: deck_2; }

.deck_3 { grid-area: deck_3; }

.deck_4 { grid-area: deck_4; }

.deck_5 { grid-area: deck_5; }

.deck_6 { grid-area: deck_6; }

.hand_overall {
  display: grid;
  grid-area: hand_overall;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "hand_top" "hand_bottom";
}

.hand_discard { grid-area: hand_discard; }

.hand_draw { grid-area: hand_draw; }


